.hidden {
    display: none;
}

#library-popup {
    position: absolute; /* Floats over the living room content */
    top: 15%;
    left: 20%;
    width: 600px;
    height: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.3); /* Retro desktop drop shadow */
    z-index: 100;
}

.popup-header {
    background-color: #c0c0c0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

iframe {
    width: 100%;
    height: calc(100% - 35px); /* Subtracts the height of the header */
    border: none;
}